/*
Theme Name: BrightMinds
Theme URI: http://wordpress.org/themes/brightminds
Author: Geekovery
Author URI: http://www.geekovery.com/
Description: Light on the outside, bright on the inside. Brightminds is a user-friendly thinked Wordpress Theme. It's designed to be used by anyone on any device.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: brightminds

*/

.c-hamburger{display:block;position:relative;overflow:hidden;margin:0;padding:0;width:56px;height:56px;font-size:0;text-indent:-9999px;-webkit-appearance:none;-moz-appearance:none;appearance:none;box-shadow:none;border-radius:none;border:none;cursor:pointer;-webkit-transition:background 0s;transition:background 0s}
.c-hamburger:focus{outline:0}
.c-hamburger{ position: absolute; top: 17px; right: 17px; }
.c-hamburger span{display:block;position:absolute;top:26px;left:10px;right:10px;height:4px;background:#222}
.c-hamburger span::after,
.c-hamburger span::before{position:absolute;display:block;left:0;width:100%;height:4px;background-color:#222;content:""}
.c-hamburger--htla.is-active span::after,.c-hamburger--htla.is-active span::before,.c-hamburger--htra.is-active span::after,.c-hamburger--htra.is-active span::before{width:50%}
.c-hamburger span::before{top:-12px}
.c-hamburger span::after{bottom:-12px}
.c-hamburger--rot{background-color:#FA6E33}
.c-hamburger--rot span{-webkit-transition:-webkit-transform 0s;transition:transform 0s}
.c-hamburger--rot.is-active{background-color:#166888}
.c-hamburger--rot.is-active span{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.c-hamburger--htx{background-color:rgba(0,0,0,0)}
.c-hamburger--htx span{-webkit-transition:background 0s 0s;transition:background 0s 0s}
.c-hamburger--htx span::after,.c-hamburger--htx span::before{-webkit-transition-duration:0s,0s;transition-duration:0s,0s;-webkit-transition-delay:0s,0s;transition-delay:0s,0s}
.c-hamburger--htx span::before{-webkit-transition-property:top,-webkit-transform;transition-property:top,transform}
.c-hamburger--htx span::after{-webkit-transition-property:bottom,-webkit-transform;transition-property:bottom,transform}
.c-hamburger--htx.is-active{background-color:#222}
.c-hamburger--htx.is-active span{background:0 0;}
.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after{background-color: #FFF;}
.c-hamburger--htx.is-active span::before{top:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.c-hamburger--htx.is-active span::after{bottom:0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.c-hamburger--htx.is-active span::after,.c-hamburger--htx.is-active span::before{-webkit-transition-delay:0s,0s;transition-delay:0s,0s}
.c-hamburger--htla{background-color:#32dc64}
.c-hamburger--htla span{-webkit-transition:-webkit-transform 0s;transition:transform 0s}
.c-hamburger--htla span::before{-webkit-transform-origin:top right;-ms-transform-origin:top right;transform-origin:top right;-webkit-transition:-webkit-transform 0s,width 0s,top 0s;transition:transform 0s,width 0s,top 0s}
.c-hamburger--htla span::after{-webkit-transform-origin:bottom right;-ms-transform-origin:bottom right;transform-origin:bottom right;-webkit-transition:-webkit-transform 0s,width 0s,bottom 0s;transition:transform 0s,width 0s,bottom 0s}
.c-hamburger--htla.is-active{background-color:#18903c}
.c-hamburger--htla.is-active span{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.c-hamburger--htla.is-active span::before{top:0;-webkit-transform:translateX(38px)translateY(4px)rotate(45deg);-ms-transform:translateX(38px)translateY(4px)rotate(45deg);transform:translateX(38px)translateY(4px)rotate(45deg)}
.c-hamburger--htla.is-active span::after{bottom:0;-webkit-transform:translateX(38px)translateY(-4px)rotate(-45deg);-ms-transform:translateX(38px)translateY(-4px)rotate(-45deg);transform:translateX(38px)translateY(-4px)rotate(-45deg)}
.c-hamburger--htra{background-color:#ff9650}
.c-hamburger--htra span{-webkit-transition:-webkit-transform 0s;transition:transform 0s}
.c-hamburger--htra span::before{-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-transition:-webkit-transform 0s,width 0s,top 0s;transition:transform 0s,width 0s,top 0s}
.c-hamburger--htra span::after{-webkit-transform-origin:bottom left;-ms-transform-origin:bottom left;transform-origin:bottom left;-webkit-transition:-webkit-transform 0s,width 0s,bottom 0s;transition:transform 0s,width 0s,bottom 0s}
.c-hamburger--htra.is-active{background-color:#e95d00}
.c-hamburger--htra.is-active span{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.c-hamburger--htra.is-active span::before{top:0;-webkit-transform:translateX(-6px)translateY(4px)rotate(-45deg);-ms-transform:translateX(-6px)translateY(4px)rotate(-45deg);transform:translateX(-6px)translateY(4px)rotate(-45deg)}
.c-hamburger--htra.is-active span::after{bottom:0;-webkit-transform:translateX(-6px)translateY(-4px)rotate(45deg);-ms-transform:translateX(-6px)translateY(-4px)rotate(45deg);transform:translateX(-6px)translateY(-4px)rotate(45deg)}#carbonads{position:fixed;bottom:12px;right:12px;z-index:1000;padding:24px 12px 12px;width:154px;background-color:#fff;line-height:1.1;border:1px solid #e7e7e7}.carbon-wrap{display:block;margin:0 0 4px}.carbon-img{display:block;margin:0 0 4px;padding:0;width:130px;height:100px}.carbon-text{color:#818181;font-size:12px}.carbon-poweredby{font-size:10px}.carbonad__close{display:block;position:absolute;top:0;left:12px;height:24px;font-size:11px;line-height:24px}@media all and (max-width:660px){#carbonads{display:none}}
.c-hamburger{ display: none; }

body{
	padding: 0px;
	margin: 0px;
	background-color: #222;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #222;
	font-size: 16px;
}
strong{
	font-weight: 700;
}

p{
	margin-bottom: 30px;
}

a{
	color: inherit;
}

/* HEADER */

header{
	background-color: #FFF;
	padding: 20px 0px;
	color: #222;
	margin-bottom: 80px;
	position: relative;
}
body.is-front-page header{
	margin-bottom: 0px;
}
header a:hover{
	color: #009CE3;
}
header .website-infos{
	float: left;
}
header .website-title a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 32px;
	line-height: 32px;
}
header .website-infos .site-description{
	margin: 0px;
	font-size: 16px;
	line-height: 18px;
	padding-left: 2px;
}
header .nav-container{
	float: right;
}
header nav ul{
	margin: 0px;
	padding: 0px;
}
header nav ul li{
	list-style: none;
	display: inline-block;
	padding-left: 20px;
	position: relative;
}
header nav ul li:first-child{
	padding-left: 0px;
}
header nav ul li a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	line-height: 50px;
}
header nav ul li.current-menu-item a{
	color: #009CE3;
}
/* submenu */
header nav ul li ul.sub-menu{
	position: absolute;
	width: auto;
	min-width: 200px;
	background-color: #222;
	padding: 20px;
	right: 0px;
	text-align: right;
	display: none;
}
header nav ul li:hover ul.sub-menu{
	display: block;
}
header nav ul li ul.sub-menu li{
	display: block;
	width: 100%;
	padding: 0px;
}
header nav ul li ul.sub-menu li a{
	color: #FFF;
	line-height: 24px;
	font-size: 16px;
}

header #header-search,
header .menu-header-container,
header .nav-container nav .menu{
	display: inline-block;
	vertical-align: top;
}
header #header-search{
	padding: 10px;
	margin-left: 20px;
	border-left: 1px solid #CCC;
	height: 30px;
	width: 30px;
	cursor: pointer;
	transition: all ease-in 0.3s;
}
header #header-search:hover{
	background-color: #FAFAFA;
	border-color: #FAFAFA;
	transition: all ease-in 0.3s;
}
header #header-search img{
	height: 30px;
}

/* ARTICLE */

article{
	width: 100%;
}

img{
	max-width: 100%;
	height: auto;
}

#page,
.content{
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}
.content.content-max{
	max-width: 2000px;
}
#page{
	background-color: #FFF;
	margin-bottom: 80px;
}
article{
	position: relative;
}
article .header{
	background-color: #FFF;
	padding: 0px;
	width: 100%;
}
article .header .share{
	float: right;
	vertical-align: top;
}
article .header .share a{
	display: inline-block;
	padding: 8px;
	text-align: center;
	background-color: #009CE3;
	line-height: 0px;
	width: 16px;
	height: 16px;
	margin-left: 0px;
	float: right;
}

article .header .share a.facebook{
	background-color: #3b5998;
}
article .header .share a.twitter{
	background-color: #1da1f2;
}
article .header .share a:first-child{
	margin-left: 0px;
}
article .header .share a:hover{
	background-color: #B5E655;
}
article .header .share a img{
	height: 16px;
	width: 16px;
}

article .header.has-thumbnail{
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
article .header .categories{
	width: calc(100% - 70px);
	float: left;
}
article .header .categories .categorie-item,
.listing-posts .listing-posts-item .categories .categorie-item{
	background-color: #7FC6BC;
	color: #FFF;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 15px;
	padding: 8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	float: left;
}
article .header .categories .categorie-item:nth-child(1),
.listing-posts .listing-posts-item .categories .categorie-item:nth-child(1){
	background-color: #009CE3;
}
article .header .categories .categorie-item:nth-child(2),
.listing-posts .listing-posts-item .categories .categorie-item:nth-child(2){
	background-color: #4BB5C1;
}
article .header .categories .categorie-item span,
.listing-posts .listing-posts-item .categories .categorie-item span{
	padding-left: 20px;
	background-image: url(assets/front/images/icons/common/avatar.png);
	background-position: left center;
	background-size: auto 16px;
	background-repeat: no-repeat;
}
article .header .categories .categorie-item span.icon-calendar,
.listing-posts .listing-posts-item .categories .categorie-item span.icon-calendar{
	background-image: url(assets/front/images/icons/common/calendar.png);
}

article .post-content{
	background-color: #FFF;
	padding: 80px;
	width: 100%;
	width: calc(100% - 160px);
}

article .post-content .post-title h1{
	margin: 0px;
	margin-bottom: 80px;
	font-size: 48px;
	text-align: center;
	width: 100%;
	color: #009CE3;
}
article .post-content h1,
article .post-content h2,
article .post-content h3,
article .post-content h4,
article .post-content h5,
article .post-content h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
article .post-content h1,
article .post-content h2{
	font-size: 28px;
}
article .post-content h3{
	font-size: 20px;
}
article .post-content .tags{
	color: #888;
	font-style: italic;
}
article .post-content blockquote{
	margin: 0px;
	padding: 20px;
	background-color: #EDF7F7;
}
article .post-content .wp-caption-text{
	color: #888;
	font-style: italic;
	font-size: 14px;
}
article .post-content .inner-content div.wp-caption.aligncenter{
	margin: 0 auto;
}
article .large-image{
	font-size: 0px;
}
article .large-image img{
	height: auto;
}
article .image-legend{
	padding: 15px;
	background-color: #EDF7F7;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 14px;
}
article .image-legend span{
	display: inline;
}
article .image-legend span.image-legend-title{
	text-transform: uppercase;
	margin-right: 6px;
}
article .image-legend span.image-legend-title:after{
	content: '/';
	font-size: 14px;
	padding-left: 10px;
	color: #666;
}

article .navigation-posts{
	width: 100%;
}
article .navigation-posts .navigation-item{
	width: 50%;
	float: left;
	text-align: center;
	background-color: #009CE3;
}
article .navigation-posts .navigation-item a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 20px;
	background-size: 50px auto;
	background-repeat: no-repeat;
}
article .navigation-posts .navigation-item a:hover{
	color: #222;
}
article .navigation-posts .navigation-item.next-post{
	background-color: #B5E655;
	float: right;
}
article .navigation-posts .navigation-item.next-post a{
	background-image: url(assets/front/images/icons/common/next-icon-white.png);
	background-position: right center;
	padding-right: 40px;
}
article .navigation-posts .navigation-item.previous-post a{
	background-image: url(assets/front/images/icons/common/prev-icon-white.png);
	background-position: left center;
	padding-left: 40px;
}
article .navigation-posts .navigation-item.next-post{
	background-color: #B5E655;
}

article .part-section{
	background-color: #222;
	padding-top: 120px;
}
article .part-section.comment-section .content{
	background-color: #FFF;
	padding: 80px;
	width: calc(100% - 160px);
}
article .part-section.comment-section .list-comments{
	background-color: #EDF7F7;
	padding: 80px;
	width: calc(100% - 160px);
}
article .part-section.comment-section h2{
	margin-bottom: 80px;
}
article .part-section.comment-section h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 22px;
}
article .part-section.comment-section form label{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
article .part-section.comment-section form input[type="text"],
article .part-section.comment-section form input[type="email"],
article .part-section.comment-section form textarea{
	width: 100%;
	padding: 10px;
	width: calc(100% - 20px);
	border: 1px solid #222;
}
article .part-section.comment-section form textarea{
	min-height: 180px;
}
article .part-section.comment-section form input[type="submit"]{
	appearance: none;
	-webkit-appearance: none;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	display: block;
	width: 200px;
	margin: 20px auto;
	background-color: #009CE3;
	border: none;
	color: #FFF;
	cursor: pointer;
}
article .part-section.comment-section form input[type="submit"]:hover{
	background-color: #B5E655;
}

article .part-section.comment-section .list-comments .comment h3{
	margin-bottom: 0px;
}
article .part-section.comment-section .list-comments .comment .comment-infos span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
}
article .part-section.comment-section .list-comments .comment p{
	margin-top: 10px;
	margin-bottom: 0px;
}
article .part-section.comment-section .list-comments .comment{
	padding: 20px 0px;
	border-bottom: 1px solid #CCC;
}
article .part-section.comment-section .list-comments .comment:first-child{
	padding-top: 0px;
}
article .part-section.comment-section .list-comments .comment:last-child{
	border-bottom: none;
	padding-bottom: 0px;
}

article .part-section h2{
	margin: 0px;
	margin-bottom: 0px;
	font-size: 40px;
	text-align: center;
	width: 100%;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

article .list-posts .list-posts-item{
	background-color: #FFF;
	width: calc(50% - 40px);
	margin-right: 80px;
	float: left;
	margin-top: 80px;
}
article .list-posts .list-posts-item.last{
	margin-right: 0px;
}

article .list-posts .list-posts-item .image{
	text-align: center;
	background-color: #EDF7F7;
}
article .list-posts .list-posts-item .image a{
	display: block;
	min-height: 320px;
	width: 100%;
	line-height: 0px;
	font-size: 0px;
}
article .list-posts .list-posts-item .title a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 20px;
	text-align: center;
}
article .list-posts .list-posts-item:hover .title a{
	background-color: #009CE3;
	color: #FFF;
}

div.read-more-container{
	text-align: right;
	border-bottom: 1px solid #EEE;
}
a.read-more{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: inline-block;
	padding: 6px;
	background-color: #F6F6F6;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 20px;
	margin-top: 20px;
	font-style: italic;
	padding-right: 10px;
	transition: all ease-in 0.2s;
}
a.read-more:hover{
	background-color: #DDD;
	transition: all ease-in 0.2s;
}

.lineclear{
	display: block;
	width: 100%;
	clear: both;
}

#wp-custom-header{
	font-size: 0px;
}

.hidden{
	display: none;
}

body.home #homepage-wrapper,
body.home #list-wrapper{
	margin-top: -240px;
}
#homepage-wrapper article{
	position: relative;
}
#homepage-wrapper .post-content,
#homepage-wrapper .sidebar{
	top: 0px;
}
#homepage-wrapper .post-content,
#list-wrapper .post-content{
	padding: 80px;
	padding-right: 380px;
	width: 100%;
	width: calc(100% - 500px);
}
#list-wrapper .post-content{
	padding-right: 80px;
	width: calc(100% - 160px);
}
#homepage-wrapper article .header .share{
	float: left;
}
#homepage-wrapper .sidebar{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 20px;
	background-color: #EDF7F7;
	height: calc(100% - 40px);
	width: 300px;
	overflow: scroll;
	/* new data */
	background: linear-gradient(135deg, #1F1F1F, #111111 60%);
}

#homepage-wrapper .post-content section h2,
#list-wrapper .post-content section h2{
	margin: 0px;
	margin-bottom: 20px;
	font-size: 38px;
	width: 100%;
}
#homepage-wrapper .post-content section h2 span,
#list-wrapper .post-content section h2 span{
	font-weight: 300;
	font-style: italic;
	font-size: 32px;
}
#homepage-wrapper .post-content section h2 span i,
#list-wrapper .post-content section h2 span i{
	font-size: 28px;
	font-style: normal;
}

.listing-posts .listing-posts-item{
	width: 100%;
	padding: 30px 0px;
	padding-bottom: 0px;
}
.listing-posts .listing-posts-item:last-child{
	border-bottom: none;
}

.listing-posts .listing-posts-item h3{
	font-weight: 400;
	margin: 20px 0px;
}
.listing-posts .listing-posts-item h3 a{
	text-decoration: none;
	font-size: 28px;
}
.listing-posts .listing-posts-item p{
	margin-bottom: 10px;
	font-weight: 300;
}
.listing-posts .listing-posts-item p:last-child{
	margin-bottom: 0px;
}

.sidebar h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 22px;
	color: #FFF;
	padding-left: 35px;
	background-image: url(assets/front/images/icons/common/list.png);
	background-position: left center;
	background-size: 24px auto;
	background-repeat: no-repeat;
}
.sidebar section.recent-comments h2{
	background-image: url(assets/front/images/icons/common/comment.png);
}
.sidebar section.archives h2{
	background-image: url(assets/front/images/icons/common/calendar.png);
}
.sidebar section{
	padding: 20px 0px;
	border-bottom: 1px solid #333;
	color: #DDD;
}
.sidebar section:first-child{
	padding-top: 0px;
}
.sidebar section.archives{
	border-bottom: none;
}
.sidebar section.categories ul{
	padding: 0px;
	margin: 0px;
}
.sidebar section.categories ul li{
	list-style: none;
	display: inline-block;
	margin-right: 2px;
}
.sidebar section.categories ul li a{
	display: block;
	padding: 6px;
	text-decoration: none;
	background-color: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 2px;
	font-size: 12px;
	line-height: 12px;
	color: #FFF;
}
.sidebar section.categories ul li a:hover{
	background-color: #009CE3;
}
.sidebar section.categories ul li a span{
	color: #555;
}
.sidebar section ul.list-links{
	padding: 0px;
	margin: 0px;
}
.sidebar section ul.list-links li{
	list-style: none;
	font-size: 14px;
	padding: 5px 0px;
}
.sidebar section.search form{
	background-color: transparent;
	padding: 0px;
	border: 2px solid #222;
	background-color: rgba(0,0,0, 0.1);
}
.sidebar section.search form input{
	appearance: none;
	-webkit-appearance: none;
	margin: 0px;
	float: left;
	border: none;
	line-height: 16px;
}
.sidebar section.search form input[type="text"]{
	padding: 10px;
	width: calc(100% - 64px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #FFF;
	font-size: 16px;
	line-height: 22px;
	background-color: transparent;
}
.sidebar section.search form input[type="submit"]{
	font-size: 0px;
	width: 44px;
	height: 42px;
	padding: 0px;
	background-color: #222;
	background-image: url(assets/front/images/icons/common/search-grey.png);
	background-position: center;
	background-size: 30px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.sidebar section.archives li,
.sidebar section.archives li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.pager{
	width: 100%;
	padding-top: 20px;
}
.pager ul{
	padding: 0px;
	margin: 0px;
	width: 100%;
	text-align: center;
}
.pager ul li{
	list-style: none;
	display: inline;
	margin-right: 10px;
}
.pager ul li a{
	padding: 7px 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #222;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
}
.pager ul li.current a{
	background-color: #009CE3;
}

.form-container,
.form-container form,
.form-container input,
.form-container textarea{
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.form-container input,
.form-container textarea{
	border: none;
	appearance: none;
	font-size: 16px;
}

.form-container input[type="email"],
.form-container textarea{
	margin-bottom: 20px;
	background-color: #EEE;
	color: #222;
	padding: 20px;
	width: calc(100% - 40px);
}
.form-container textarea{
	min-height: 150px;
}

.form-container input[type="submit"]{
	width: 150px;
	margin: 0 auto;
	background-color: #009CE3;
	color: #FFF;
	font-size: 20px;
	padding: 10px;
}
.form-container p.valid{
	font-weight: 700;
}

/* FOOTER */
footer{
	background-color: #111;
	padding: 20px 0px;
}
footer ul{
	padding: 20px;
	margin: 0px;
	width: calc(100% - 40px);
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
footer ul li:last-child{
	margin-right: 0px;
}
footer ul li a{
	display: block;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	width: 100%;
}
footer ul li ul.sub-menu{
	display: none;
}
.sidebar-toggle{
	display: none;
}
.footer-list-categories{
	background: linear-gradient(160deg, #009CE3, #4BB5C1, #7FC6BC);
}
.footer-list-categories ul{
	padding: 5px;
	margin: 0px;
	width: calc(100% - 10px);
	text-align: center;
}
.footer-list-categories ul li{
	display: inline-block;
	list-style: none;
}
.footer-list-categories ul li:after{
	content:'/';
	padding: 0px 10px;
	color: rgba(255,255,255, 0.4);
	font-size: 14px;
}
.footer-list-categories ul li:last-child:after{
	content:'';
	padding: 0px;
}
.footer-list-categories ul li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
}


.top-of-page{
	display: block;
	background-color: #FFF;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #222;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding-right: 30px;
	background-image: url(assets/front/images/icons/common/up-arrow.png);
	background-repeat: no-repeat;
	background-size: 16px auto;
	background-position: center right 10px;
	font-weight: 700;
	opacity: 0;
	transition: all ease-in 0.5s;
	border-radius: 15px;
}
.top-of-page.scroll{
	opacity: 1;
	transition: all ease-in 0.5s;
}

#slider-archives{
	width: 100%;
	position: relative;
}
#slider-archives .slide{
	height: 168px;
	overflow: hidden;
	width: 100%;
}
#slider-archives .slide .year{
	background-color: #111;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 26px;
}
#slider-archives .slide .months{
	width: calc(100% - 4px);
	padding: 2px;
	padding-bottom: 0px;
}
#slider-archives .slide .months a{
	padding: 5px;
	width: calc(33.33% - 12px);
	float: left;
	background-color: #222;
	margin-right: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	background-color: #DDD;
	color: #000;
	height: 16px;
}
#slider-archives .slide .months a:hover{
	background-color: #FFF;
}
#slider-archives .slide .months a:nth-child(3n){
	margin-right: 0px;
	width: calc(33.33% - 11px);
}
#slider-archives .slide .months a.empty,
#slider-archives .slide .months a.empty:hover{
	background-color: #222;
	cursor: default;
	color: #444;
}
#slider-archives .slidesjs-navigation{
	width: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 100;
	height: 50px;
	font-size: 0px;
	background-size: 30px auto;
	background-repeat: no-repeat;
}
#slider-archives .slidesjs-previous.slidesjs-navigation{
	left: 0;
	background-image: url(assets/front/images/icons/common/prev-icon-white.png);
	background-position: left center;
	background-position: left 5px center;
}
#slider-archives .slidesjs-next.slidesjs-navigation{
	right: 0;
	background-image: url(assets/front/images/icons/common/next-icon-white.png);
	background-position: right center;
	background-position: right 5px center;
}

#search-overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: linear-gradient(160deg, rgba(0,156,227,1), rgba(75,181,193,0.9), rgba(127,198,188,0.8));
	z-index: 10000;
	display: none;
}
#search-overlay .inner{
	position: relative;
	width: 100%;
	height: 100%;
}
#search-overlay .form-container{
	padding-top: calc(50vh - 40px);
	max-width: calc(100% - 40px);
	margin: 0 auto;
}
#search-overlay .form-container form input[type="text"],
#search-overlay .form-container form input[type="submit"]{
	float: left;
	padding: 20px;
	margin: 0px;
}
#search-overlay .form-container form input[type="text"]{
	width: calc(100% - 120px);
	line-height: 40px;
	color: #FFF;
	background-color: #222;
	font-size: 28px;
}
#search-overlay .form-container form input[type="submit"]{
	width: 80px;
	font-size: 0px;
	height: 80px;
	background-color: #111;
	background-image: url(assets/front/images/icons/common/search-grey.png);
	background-position: center;
	background-size: 30px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
#search-overlay .inner .close{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	padding: 20px;
}
#search-overlay .inner .close img{
	width: 50px;
	opacity: 0.8;
}
#search-overlay .inner .close:hover img{
	opacity: 1;
}

@media (min-width: 1800px) {
	body.home #homepage-wrapper{
		margin-top: -300px;
	}
}

@media (max-width: 1199px) {
	#page, .content{
		margin: 0px auto;
	}
	article .post-content{
		padding: 40px;
		width: calc(100% - 80px);
	}
	body.is-front-page .custom-header-media{
		margin-bottom: 0px;
	}
	header{
		margin-bottom: 0px;
	}
	header .content{
		width: calc(100% - 40px);
		padding: 0px 20px;
	}
	header #header-search,
	header .menu-header-container,
	header .nav-container nav .menu{
		display: block;
	}
	header #header-search{
		margin-left: auto;
		border: none;
	}
	article.no-thumbnail{
		border-top: 3px solid #222;
	}
	body.home article.no-thumbnail{
		border-top: none;
	}
	body.home #homepage-wrapper{
		margin-top: 0px;
	}
	header .nav-container nav{
		display: none;
		position: absolute;
		width: 100%;
		background-color: #222;
		top: 90px;
		right: 0px;
	}
	.c-hamburger{ display: block; }

	/* HOMEPAGE */
	#homepage-wrapper .post-content{
		padding: 40px;
		padding-right: 340px;
		width: calc(100% - 420px);
	}
	header .nav-container.is-active nav{
		display: block;
		z-index: 9000;
	}
	header .nav-container nav #menu-header,
	header .nav-container nav div.menu ul{
		padding: 20px 0px;
	}
	header .nav-container nav #menu-header li,
	header .nav-container nav div.menu ul li{
		display: block;
		padding: 0px;
	}
	header .nav-container nav #menu-header li a,
	header .nav-container nav div.menu ul li a{
		display: block;
		width: calc(100% - 20px);
		padding: 10px;
		text-align: right;
		line-height: 20px;
		color: #FFF;
	}
	header .nav-container nav #menu-header li.current-menu-item a,
	header .nav-container nav div.menu ul li.current-menu-item a{
		color: #009CE3;
	}
	header nav ul li ul.sub-menu{
		display: block;
		position: relative;
		padding: 0px;
		padding-bottom: 20px;
	}
	header nav ul li ul.sub-menu li a,
	header .nav-container nav #menu-header li ul.sub-menu li a,
	header .nav-container nav div.menu ul li ul.sub-menu li a{
		font-size: 14px;
		line-height: 18px;
		padding: 5px 10px;
	}
}
@media (max-width: 767px){
	footer ul li{
		margin-right: 0px;
		display: block;
		width: 100%;
	}

	/* SIDEBAR */
	#homepage-wrapper .sidebar{
		position: fixed;
		top: 100vh;
		left: 0px;
		width: calc(100% - 40px);
		height: calc(100vh - 165px);
		z-index: 7999;
		display: block;
		overflow-y: scroll;
		transition: top ease-in 0.5s, opacity ease-in 0.5s;
		padding-bottom: 65px;
	}
	#homepage-wrapper .sidebar.active{
		display: block;
		top: 80px;
		transition: top ease-in 0.5s, opacity ease-in 0.5s;
	}
	#homepage-wrapper .post-content{
		width: calc(100% - 80px);
		padding: 40px;
	}
	.sidebar-toggle{
		display: block;
		background-color: #222;
		position: fixed;
		bottom: 10px;
		left: 10px;
		width: 50px;
		height: 50px;
		background-image: url(assets/front/images/icons/common/plus-icon.png);
		background-repeat: no-repeat;
		background-size: 24px auto;
		background-position: center;
		border-radius: 25px;
		cursor: pointer;
		overflow: hidden;
		z-index: 8000;
		transition: all ease-in 0.5s;
	}
	.sidebar-toggle.active{
		background-image: url(assets/front/images/icons/common/icon-moins.png);
		background-color: #FFF;
		transition: all ease-in 0.5s;
	}
	/* END SIDEBAR */

	footer ul li a{
		line-height: 26px;
	}

	.top-of-page{
		font-size: 0px;
		line-height: 0px;
		padding: 0px;
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background-position: center;
		border: 1px solid #222;
	}
	header .nav-container nav #menu-header{
		min-height: calc(100vh - 120px);
	}

	/* Header */
	header{
		position: fixed;
		width: 100%;
		z-index: 10000;
		padding: 15px 0px;
	}
	header .nav-container nav{
		top: 90px;
	}
	.c-hamburger{
		top: 12px;
	}
	.custom-header-media{
		padding-top: 80px;
	}
	body.page #page{
		padding-top: 80px;
	}

	header .nav-container nav{
		display: block;
		height: calc(100vh - 80px);
		top: 80px;
		right: -100vw;
		transition: all ease-in 0.5s;
	}
	header .nav-container.is-active nav{
		transition: all ease-in 0.5s;
		right: 0vw;
	}
	#header-search{
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
	#search-overlay .form-container form input[type="text"]{
		font-size: 20px;
		width: calc(100% - 110px);
	}
	.form-container form input[type="submit"]{
		width: 70px;
		height: 70px;
	}
	#search-overlay .form-container form input[type="text"], #search-overlay .form-container form input[type="submit"]{
		padding: 15px;
	}
	#search-overlay .form-container form input[type="text"]{
		width: calc(100% - 100px);
	}
	#search-overlay .form-container form input[type="submit"]{
		height: 70px;
		width: 70px;
	}
	.single-post #page{
		padding-top: 80px;
	}
}
@media (max-width: 479px){
	body{
		font-size: 14px;
	}
	header .website-infos{
		max-width: calc(100% - 40px);
	}
	header .website-title a{
		font-size: 26px;
	}
	header .website-infos .site-description{
		font-size: 11px;
	}
	#homepage-wrapper .post-content section h2{
		font-size: 30px;
		margin-bottom: 0px;
	}
	.listing-posts .listing-posts-item h3{
		margin: 10px 0px;
		line-height: 22px;
		font-size: 18px;
	}
	.listing-posts .listing-posts-item h3 a{
		font-size: 22px;
	}
	#homepage-wrapper .post-content,
	article .post-content{
		width: calc(100% - 40px);
		padding: 40px 20px;
	}
	article .header .categories .categorie-item, .listing-posts .listing-posts-item .categories .categorie-item{
		font-size: 12px;
		line-height: 13px;
		padding: 6px;
	}
	article .post-content .post-title h1{
		font-size: 38px;
		line-height: 40px;
		margin-bottom: 20px;
	}
}

/*

Light on the outside, bright on the inside.
Brightminds is a user-friendly thinked Wordpress Theme.
It's designed to be used by anyone on any device.

*/

